<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Регистрация</title>
    </head>
    <body>
        <div class="container">
          <h1>Регистрация</h1>
          <form action="/register" method="POST">
              <div></div><input type="text" id="name" name="name" placeholder="Имя" required /></div>
              <div><input type="email" id="email" name="email" placeholder="Почта" required /></div>
              <div><input type="password" id="password" placeholder="Пароль" name="password" required /></div>
              <div class="g-recaptcha" data-sitekey="6LcqE7wZAAAAAPFr-O1xz7p8uX-07uktGZJMf7iI"></div>
              <button type="submit">Register</button>
          </form>
          <a href="/login">Вход</a>
        </div>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </body>
</html>
